.todo_container {
  margin-bottom: 10px;
}

.todo {
  padding: 10px;
}

.todo > h3 {
  font-size: 40px;
}
.single_line{
  font-family: 'Times New Roman', Times, serif;
}

.todo > p {
  margin-top: 10px;
}

.actions button,
.action_white button {
  margin: 10px;
  margin-left: 0;
}

.todo input[type="checkbox"] {
  cursor: pointer;
}

.actions > button {
  background-color: rgb(243, 142, 26);
  border: none;
  color: black;
  padding: 4px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.action_white > button {
  background-color: green;
  border: none;
  color: white;
  padding: 4px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.single_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
